<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="fragment/header"></div>
</head>

<body>
	<nav th:replace="fragment/navbar"></nav><br><br>

	<div class="my-center">
		<form action="/signUp" method="post" th:object="${signupForm}">
			<div class="container">
				<div class="col-md-8" style="float: none; margin:0 auto;">
					<div class="container">
						<div class="input-form-backgroud row">
							<div class="input-form col-md-12 mx-auto">
								<h1 class="mb-3">회원가입</h1><hr><br>
								<form class="validation-form">
									<div class="row">
										<div class="col-md-6 mb-3">
											<label for="name">이름</label>
											<input type="text" class="form-control" id="name" name="name"
												   th:value="*{name}" required>
											<div class="invalid-feedback"> 이름을 입력해주세요. </div>
											<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
												   style="color: orangered"></small>
										</div>
										<div class="col-md-6 mb-3"> <label for="age">나이</label>
											<input type="number" class="form-control" id="age" name="age"
												   th:value="*{age}" required>
											<div class="invalid-feedback"> 나이를 입력해주세요. </div>
											<small th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
												   style="color: orangered"></small>
										</div>
									</div>
									<div class="mb-3">
										<label for="userId">아이디</label>
										<input type="text" class="form-control" id="userId" name="userId"
											   th:value="*{userId}" required>
										<div class="invalid-feedback"> 아이디를 입력해주세요. </div>
										<small th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}"
											   style="color: orangered"></small>
									</div>
									<div class="mb-3">
										<label for="password">비밀번호</label>
										<input type="password" class="form-control" id="password" name="password" required>
										<div class="invalid-feedback"> 비밀번호를 입력해주세요. </div>
										<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
											   style="color: orangered"></small>
									</div>
									<div class="mb-3">
										<label for="passwordRepeat">비밀번호 확인</label>
										<input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat" required>
										<div class="invalid-feedback"> 비밀번호를 한 번 더 입력해주세요. </div>
										<small th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"
											   style="color: orangered"></small>
									</div>
									<div class="mb-3"> <label for="email">이메일</label>
										<input type="email" class="form-control" id="email" name="email" placeholder="you@example.com"
											   th:value="*{email}" required>
										<div class="invalid-feedback"> 이메일을 입력해주세요. </div>
										<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
											   style="color: orangered"></small>
									</div><br><hr>
									<div class="custom-control custom-checkbox"> <input type="checkbox"
											class="custom-control-input" id="agreement" required> <label
											class="custom-control-label" for="agreement">개인정보 수집 및
											이용에 동의합니다.</label>
									</div><br>
									<button class="btn btn-primary btn-lg btn-block" type="submit" value>가입 완료</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<br><br>
	</div>

	<footer th:replace="fragment/footer"></footer>
</body>

</html>